/* Define colors */
:root {
    --primary-color: #034375;
    --secondary-color: #0066b3;
    --text-color: #333333;
    --background-color: #ffffff;
  }
  
  /* Apply colors to body */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Apply colors to headings */
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  /* Apply colors to links */
  a {
    color: var(--secondary-color);
  }
  
  a:hover {
    color: var(--primary-color);
  }
  
  /* Apply colors to code chunks */
  pre, code {
    background-color: #f6f8fa;
  }
  
  /* Apply colors to inline code */
  :not(pre) > code {
    padding: 2px 4px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    background-color: #f6f8fa;
    color: #d73a49;
  }
  
  /* Apply colors to blockquotes */
  blockquote {
    color: var(--secondary-color);
    border-left: 4px solid var(--primary-color);
    padding-left: 16px;
  }
  
  /* Apply colors to tables */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 16px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: var(--background-color);
    color: var(--primary-color); 
  }
  
  /* Apply colors to images */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 16px;
    /* border: 1px solid #ddd;
    border-radius: 4px; */
    padding: 4px;
    background-color: var(--background-color);
  }
  